{% extends "base.html.twig" %}


{% block body %}
<section class="music-cards">
        <div class="container">
        <div class="music-grids">
            <div class="music-card" onclick="showMusicInfo()">
                <img src="{{asset("images/musique.jpg")}}" alt="Musique 1">
                <div class="music-info">
                    <h2>Nom de la Musique 1</h2>
                    <p>Description de la Musique 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <p><strong>Catégorie:</strong> Rock</p>
                    <p><strong>Auteur:</strong> Artiste 1</p>
                    <p><strong>Reviews:</strong> 15</p>
                </div>
            </div>

            <div class="music-card">
                <img src="{{asset("images/musique.jpg")}}" alt="Musique 2">
                <div class="music-info">
                    <h2>Nom de la Musique 2</h2>
                    <p>Description de la Musique 2. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <p><strong>Catégorie:</strong> Pop</p>
                    <p><strong>Auteur:</strong> Artiste 2</p>
                    <p><strong>Reviews:</strong> 20</p>
                </div>
            </div>
            <div class="music-card">
                <img src="{{asset("images/musique.jpg")}}" alt="Musique 2">
                <div class="music-info">
                    <h2>Nom de la Musique 2</h2>
                    <p>Description de la Musique 2. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <p><strong>Catégorie:</strong> Pop</p>
                    <p><strong>Auteur:</strong> Artiste 2</p>
                    <p><strong>Reviews:</strong> 20</p>
                </div>
            </div>
            <div class="music-card">
                <img src="{{asset("images/musique.jpg")}}" alt="Musique 2">
                <div class="music-info">
                    <h2>Nom de la Musique 2</h2>
                    <p>Description de la Musique 2. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <p><strong>Catégorie:</strong> Pop</p>
                    <p><strong>Auteur:</strong> Artiste 2</p>
                    <p><strong>Reviews:</strong> 20</p>
                </div>
            </div>
            <div class="music-card">
                <img src="{{asset("images/musique.jpg")}}" alt="Musique 2">
                <div class="music-info">
                    <h2>Nom de la Musique 2</h2>
                    <p>Description de la Musique 2. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <p><strong>Catégorie:</strong> Pop</p>
                    <p><strong>Auteur:</strong> Artiste 2</p>
                    <p><strong>Reviews:</strong> 20</p>
                </div>
            </div>
            <div class="music-card">
                <img src="{{asset("images/musique.jpg")}}" alt="Musique 2">
                <div class="music-info">
                    <h2>Nom de la Musique 2</h2>
                    <p>Description de la Musique 2. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <p><strong>Catégorie:</strong> Pop</p>
                    <p><strong>Auteur:</strong> Artiste 2</p>
                    <p><strong>Reviews:</strong> 20</p>
                </div>
            </div>

        </div>


            <!-- Ajoutez d'autres cartes de musique au besoin -->
        </div>
  </section>
{% endblock %}
